<main >
<%- include('carouselHome.ejs'); -%>

    <!-- Marketing messaging and featurettes
================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row my-5 justify-content-center" data-aos="fade-up">
        <h5>
          <%= getContent("home.marketing.title","Lorem ipsum dolor sit amet consectetur adipisicing elit.") %>
          </h5>
        <p>
          <%= getContent("home.marketing.content","Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque nostrum nam sed incidunt neque iusto fugiat deleniti vitae. Non nulla sunt perferendis esse animi laborum, voluptatem earum? Fugit, harum laboriosam.") %>
        </p>
      </div><!-- /.row -->
      
      
      <hr class="featurette-divider">
      
      <%- include('madagascarSite.ejs')-%>

      <hr class="featurette-divider">

      <%- include('diagrammePlainte.ejs')-%>

      <hr class="featurette-divider">

      <%- include('evolutionPlainte.ejs')-%>

      <hr class="featurette-divider">


    </div><!-- /.container -->
  </main>