<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar border-bottom static-top ">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <div class="d-flex mx-3 flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0  text-decoration-none">
            <img src="/images/logo.png" width="40px" alt="" srcset="">
        </a>
    </div>
    <ul id="menu-nav-1" class="nav bg-transparent px-2 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <%- include("navItems.ejs") %>
    </ul>
    <!-- Topbar Navbar -->
    <%- include("menuProfileUser.ejs") %>
</nav>
<!-- End of Topbar -->
<ul id="menu-nav-2"
    class="nav bg-transparent border-bottom px-2 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <%- include("navItems.ejs") %>
</ul>
<% if (locals.user) { %>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <%= getContent("modal.logout.title","Se déconnecter?") %>
                    </h5>
                    <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <%= getContent("modal.logout.body","Sélectionnez 'Déconnexion' ci-dessous si vous êtes prêt à mettre fin à votre session en cours.") %>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">
                        <%= getContent("modal.logout.btn.Annuler","Annuler") %>
                        </button>
                    <a class="btn btn-primary" href="/logout">
                        <%= getContent("modal.logout.btn.Déconnexion","Déconnexion") %>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <% } %>
        <script>
            function resizeMenu() {
                if (window.innerWidth > 800) {
                    document.querySelector('#menu-nav-1').hidden = false
                    document.querySelector('#menu-nav-2').hidden = true
                } else {
                    document.querySelector('#menu-nav-1').hidden = true
                    document.querySelector('#menu-nav-2').hidden = false
                }
            }
            resizeMenu()
            window.onresize = resizeMenu
        </script>