<div class="mb-3 shadow text-bg-light p-3 border rounded">
    <h2>
        <%= getContent("deposerPlainte.Détails_de_la_plainte_sur_la_qualité_de_service","Détails de la plainte sur la qualité de service") %>
    </h2>
</div>
<div class="shadow text-bg-light p-3 border rounded overflow-auto" style="height:500px;">

    <div class="mb-3">
        <figure>
            <blockquote class="blockquote">
                <p>
                    <%= getContent("deposerPlainte.Version_des_faits_detaillée_du_client","Version des faits detaillée du client") %>
                    </p>
            </blockquote>
            <figcaption class="blockquote-footer">
                <%= getContent("deposerPlainte.Version_des_faits_detaillée_du_client.commentaire","Prendre toute l'espace nécessaire, chronologie des evenements, noms des personnes impliquées, etc...") %>
            </figcaption>
        </figure>
        <textarea name="version_des_faits_detaillee_du_client" class="form-controlle" id="" cols="100" rows="1"></textarea>
    </div>
    <div class="mb-3">
        <figure>
            <blockquote class="blockquote">
                <p>
                    <%= getContent("deposerPlainte.Unités_administratives","Unités administratives") %>
                    </p>
            </blockquote>
            <figcaption class="blockquote-footer">
                <%= getContent("deposerPlainte.Unités_administratives.commentaire","Prendre toute l'espace nécessaire") %>
            </figcaption>
        </figure>
        <textarea name="ua" class="form-controlle" id="" cols="100" rows="4"></textarea>
    </div>
    <figure>
        <blockquote class="blockquote">
            <p>
                <%= getContent("deposerPlainte.catégories_d'emploi_visées_par_la_plainte","Catégories d'emploi visées par la plainte") %>
                </p>
        </blockquote>
        <figcaption class="blockquote-footer">
            <%= getContent("deposerPlainte.catégories_d'emploi_visées_par_la_plainte.commentaire","Cocher plus d'un, s'il y a lieu") %>
        </figcaption>
    </figure>
    <div class="mb-3 row">
        <div class="col">
            <input type="checkbox" name="unites_administratives_et_categories_demploi_visees_par_la_plainte.prepose_aux_renseignements" id="prepose_aux_renseignements" >
            <label for="prepose_aux_renseignements">
                <%= getContent("deposerPlainte.prepose_aux_renseignements","Préposé aux renseignements") %>
                </label>
        </div>
        <div class="col-2">
            <input type="checkbox" name="unites_administratives_et_categories_demploi_visees_par_la_plainte.mediateur" id="mediateur" >
            <label for="mediateur">
                <%= getContent("deposerPlainte.Médiateur","Médiateur") %>
                </label>
        </div>
        <div class="col">
            <input type="checkbox" name="unites_administratives_et_categories_demploi_visees_par_la_plainte.inspecteur_enqueteur" id="inspecteur_enqueteur" >
            <label for="inspecteur_enqueteur">
                <%= getContent("deposerPlainte.inspecteur_enqueteur","Inspecteur - enqueteur") %>
                </label>
        </div>
        <div class="col ">
            <input type="checkbox" name="unites_administratives_et_categories_demploi_visees_par_la_plainte.prepose_aux_renseignements" id="prepose_aux_renseignements" >
            <label for="prepose_aux_renseignements" class="wrap">
                <%= getContent("deposerPlainte.prepose_aux_renseignements","Préposé aux renseignements") %>
            </label>
        </div>
        <div class="col-2">
            <input type="checkbox" name="unites_administratives_et_categories_demploi_visees_par_la_plainte.avocat" id="avocat" >
            <label for="avocat">
                <%= getContent("deposerPlainte.Avocat","Avocat") %>
                </label>
        </div>
        <div>
            <input type="checkbox" name="unites_administratives_et_categories_demploi_visees_par_la_plainte.autre" id="details_autre" >
            <label for="details_autre">Autre : <input type="text" class="form-controlle" name="unites_administratives_et_categories_demploi_visees_par_la_plainte.autre_input"></label>
        </div>
    </div>
</div>