<div class="mb-3 shadow text-bg-light p-3 border rounded">
    <h2>
        <%= getContent("deposerPlainte.Motifs_de_la_plainte","Motifs de la plainte ") %>
    </h2>
</div>
<% const listMotifs=[
    " Délai de traitement", "Politesse, courtoisie, tact" , "Serviabilité, eoute, sens du service à la clientèle"
            , "Exactitude, clarté et uniforme de l'information" , "suivi et retours d'appels"
            , "Protection confidentialité et renseignement personnels" ]; %>
            <div class="shadow text-bg-light p-3 border rounded overflow-auto" style="height:500px;">

                <div class="container row">
                    <% listMotifs.forEach((motif,index)=> { %>
                        <div class="form-check">
                            <input class="form-check-input" name="motifs_de_la_plainte.<%=index %>" aria-valuemax="<%=  %> " type="checkbox" value="<%= motif  %> " id="flexCheckDefault<%= index+1 %>">
                            <label class="form-check-label" for="flexCheckDefault<%= index+1 %>">
                                <%= index+1 %> . <%= motif  %> 
                            </label>
                        </div>
                        <% }); %>
                            <div class="form-check">
                                <input class="form-check-input" name="motifs_de_la_plainte.autre" type="checkbox" value="" id="flexCheckChecked6">
                                <label class="form-check-label" for="flexCheckChecked6">
                                    Autre : <input type="text" name="motifs_de_la_plainte.autre.value" class="form-controlle">
                                </label>
                            </div>
                </div>
            </div>